fridge_flows.json
[
    {
        "id": "565c889de293ed88",
        "type": "alexa-remote-routine",
        "z": "b2c56e6cbc18c5da",
        "name": "Alexa Eltern",
        "account": "f396ab5cbb024e80",
        "routineNode": {
            "type": "speakAtVolume",
            "payload": {
                "type": "regular",
                "text": {
                    "type": "str",
                    "value": "Hallo, die T端r des Gefrierschranks ist offen"
                },
                "volume": {
                    "type": "num",
                    "value": "50"
                },
                "mode": "set",
                "devices": [
                    "G0922H07335500VF"
                ]
            }
        },
        "x": 910,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7051d11b59c0fe2a",
        "type": "mqtt in",
        "z": "b2c56e6cbc18c5da",
        "name": "",
        "topic": "shellies/shellydw2-73C1A5/sensor/state",
        "qos": "0",
        "datatype": "utf8",
        "broker": "a4a3cc56ed9dd522",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 540,
        "wires": [
            [
                "d4b22861a592d705"
            ]
        ]
    },
    {
        "id": "d4b22861a592d705",
        "type": "trigger",
        "z": "b2c56e6cbc18c5da",
        "name": "",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "close",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 690,
        "y": 540,
        "wires": [
            [
                "565c889de293ed88"
            ]
        ]
    },
    {
        "id": "929c5b12ed09ee05",
        "type": "alexa-remote-routine",
        "z": "b2c56e6cbc18c5da",
        "name": "Alexa Eltern",
        "account": "f396ab5cbb024e80",
        "routineNode": {
            "type": "speakAtVolume",
            "payload": {
                "type": "regular",
                "text": {
                    "type": "str",
                    "value": "Hallo, die Batterie des Sensors am Gefrierschranks ist bald leer"
                },
                "volume": {
                    "type": "num",
                    "value": "50"
                },
                "mode": "set",
                "devices": [
                    "G0922H07335500VF"
                ]
            }
        },
        "x": 890,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "3ea1e5eb439c96ea",
        "type": "mqtt in",
        "z": "b2c56e6cbc18c5da",
        "name": "",
        "topic": "shellies/shellydw2-73C1A5/sensor/battery",
        "qos": "0",
        "datatype": "utf8",
        "broker": "a4a3cc56ed9dd522",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 660,
        "wires": [
            [
                "aa03ee496980653c"
            ]
        ]
    },
    {
        "id": "aa03ee496980653c",
        "type": "switch",
        "z": "b2c56e6cbc18c5da",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "10",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 660,
        "wires": [
            [
                "929c5b12ed09ee05"
            ]
        ]
    },
    {
        "id": "9a3561a87ec871fa",
        "type": "comment",
        "z": "b2c56e6cbc18c5da",
        "name": "K端hlschranksensor T端r",
        "info": "",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "204993839c27c662",
        "type": "comment",
        "z": "b2c56e6cbc18c5da",
        "name": "K端hlschranksensor Batterie",
        "info": "",
        "x": 200,
        "y": 620,
        "wires": []
    },
    {
        "id": "f396ab5cbb024e80",
        "type": "alexa-remote-account",
        "name": "Alexa-Eltern",
        "authMethod": "proxy",
        "proxyOwnIp": "192.168.2.2",
        "proxyPort": "3457",
        "cookieFile": "/home/pi/alex-coockie-eltern.txt",
        "refreshInterval": "3",
        "alexaServiceHost": "layla.amazon.de",
        "pushDispatchHost": "",
        "amazonPage": "amazon.de",
        "acceptLanguage": "de-DE",
        "onKeywordInLanguage": "on",
        "userAgent": "",
        "usePushConnection": "on",
        "autoInit": "on",
        "autoQueryActivityOnTrigger": "off"
    },
    {
        "id": "a4a3cc56ed9dd522",
        "type": "mqtt-broker",
        "name": "MQTT-Server",
        "broker": "192.168.2.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]